<div>
<ul class="video-list">
<li ng-click="$ctrl.handleClick('Jan')">Jan</li>
<li ng-click="$ctrl.handleClick('Feb')">Feb</li>
<li ng-click="$ctrl.handleClick('March')">March</li>
<li ng-click="$ctrl.handleClick('April')">April</li>
<li ng-click="$ctrl.handleClick('May')">May</li>
<li ng-click="$ctrl.handleClick('Jun')">Jun</li>
<li ng-click="$ctrl.handleClick('Jul')">Jul</li>
<li ng-click="$ctrl.handleClick('Aug')">Aug</li>
<li ng-click="$ctrl.handleClick('Sep')">Sep</li>
<li ng-click="$ctrl.handleClick('Oct')">Oct</li>
<li ng-click="$ctrl.handleClick('Nov')">Nov</li>
<li ng-click="$ctrl.handleClick('Dec')">Dec</li>
</ul>
<p>Subtotal</p><input type="text" value = {{$ctrl.subtotal}} >	
</div>
